body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#head-illustra-97 {
    height: 15vh;
    background-color: aqua;
}

#body-illustra-97 {
    height: 75vh;
}

#foot-illustra-97 {
    height: 10vh;
    background-color: blueviolet;
}

.size-b-i {
    width: 100%;
    height: 75vh;
    padding: 0%;
}

.row {
    margin: 0px;
}